@charset "UTF-8";
.map-content-wrap{
	width: 100%;
	margin: 0 auto;
}
.map-content-wrap>div:nth-child(3){
    overflow: hidden;
}
.map-content-wrap>div:nth-child(3){
    display: flex;
    justify-content: center;
}
.map-content-wrap>div:nth-child(3)>div{
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
    border: solid 2px black;
    border-radius: 25px;
}

.selectCar:hover,.selectFoot:hover{
    cursor: pointer;
}
.map_wrap{
	display: flex;
    justify-content: center;
}
.address-wrap{
    display: inline-block;
    float: left;
    width: 542px;
}
.ft_select_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ft_select{
    overflow: hidden;
}
.car-content,.foot-content{
    display: none;
    float: left;
    padding-left: 10px;
}
#resultBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#result{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    width: 620px;
    height: 25px;
    border-radius: 10px;
    padding-left: 15px;
}

#fullAddr{
    border: solid 2px black;
    border-radius: 10px;
    width: 440px;
    text-align: center;
}
.startBtn, #btn_select1, #btn_select2{
    border-radius: 10px;
}
.startBtn{
    margin-left: 8px;
}

