@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100vw;
    height: 200px;
    background-color: black;
    text-align: center;
    font-size: 60px;
    color: white;
}
body{
    width: 100vw;
}
.pwChk-wrap{
    height: 400px;
    width: 420px;
    margin: 90px auto;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrap-img{
	background-image: url("https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201506/28/htm_20150628082637722.jpg");
}
.pwChk-content>div{
    font-size: 20px;
    font-weight: 500;
}
#rePwChk{
    height: 30px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.pwChkBtn{
    background-color: rgb(51,51,51);
    color: #fff;
    border: none;
    width: 70px;
    height: 35px;
    border-radius: 10px;
    transition: 0.5s;
}