.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }  

  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  
.mt-5 {
    margin-top: 3rem !important;
  }
.card-img-top{
    width: 250px;
    height: 200px;
}
.card.h-100{
    width: 252px;
}

.market1{
    width: 200px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ffc107;
   
}

.market1 h6{
    font-size: 18px;
   margin: 0;
}

.mid-nav {
  background-color: #ffc107;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 1250px;
  margin: 0 auto;

}

.mid-nav a {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}


.mid-nav li {
  vertical-align: middle;
  float: left;
  margin-right: 85px;
  margin-left: 85px;
  list-style: none;
 text-align: center;
 
}

.nav-link{
  color: #fff;
}
.minHeight{
  height: 500px;
}

#font{
  display: flex;
  justify-content: center;
  align-items: center;
}

[name=type]{
  border-radius: 5px;
}
.searchMarketContatainer>form{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.searchMarketContatainer>form>select{
  border: solid 2px black;
}
.storeList-searchinput>input {
	width: 350px;
	height: 35px;
	margin-right: 20px;
  margin-left: 20px;
	border: solid 2px black;
	border-radius: 20px;
	padding-left: 20px;
}
.storeList-searchinput>input::placeholder{
  text-align: center;
}
.storeList-searchinput>button {
	width: 35px;
  height: 35px;
	border: solid 2px black;
	border-radius: 15px;
  background-color:#ffc107;
}
.searchMarketContatainer>form>.storeList-searchinput>button>span{
  line-height: 30px;
}
.page{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;

}
.page>a{
	width: 30px;
	text-decoration: none;
	font-size: 20px;
}
.page>a:hover{
	color: #212529;
}
.page>span {
	display: flex;
	justify-content: center;
	width: 30px;
	text-decoration: none;
	font-size: 20px;
  color: #ffc107;
  font-size: 1.7em;
}
.page>a>span{
	display: flex;
	justify-content: center;
}
#font>.nav-item>.nav-link{
  width: 100px;
}
.tag{
  overflow: hidden;
  max-width: 1320px;
  min-width: 993px;
  margin-right: auto;
  margin-left: auto;
}
.contentLeft{
  display: block;
  float: left;
}
.tag>.row{
  display: block;

}
