<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null값 처리 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- mapper 약어등록 -->
	<typeAliases>
		<typeAlias type="kr.co.mitgomukgo.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.co.mitgomukgo.member.model.vo.Owner" alias="o" />
		<typeAlias type="kr.co.mitgomukgo.store.model.vo.Store" alias="s" />
		<typeAlias type="kr.co.mitgomukgo.faq.model.vo.Faq" alias="f"/>
		<typeAlias type="kr.co.mitgomukgo.store.model.vo.StoreImg" alias="si" />
		<typeAlias type="kr.co.mitgomukgo.notice.model.vo.Notice" alias="n"/>
		<typeAlias type="kr.co.mitgomukgo.notice.model.vo.NoticeFile" alias="nf"/>
		<typeAlias type="kr.co.mitgomukgo.store.model.vo.Review" alias="r" />
		<typeAlias type="kr.co.mitgomukgo.store.model.vo.Menu" alias="me" />
		<typeAlias type="kr.co.mitgomukgo.market.model.vo.Market" alias="ma" />
        <typeAlias type="kr.co.mitgomukgo.cart.model.vo.Cart" alias="c" />
        <typeAlias type="kr.co.mitgomukgo.order.model.vo.Order" alias="or" />

		<typeAlias type="kr.co.mitgomukgo.store.model.vo.StoreJoin" alias="sj" />
		<typeAlias type="kr.co.mitgomukgo.store.model.vo.updateRating" alias="rt" />
		<typeAlias type="kr.co.mitgomukgo.store.model.vo.Reserve" alias="rs" />
		<typeAlias type="kr.co.mitgomukgo.qna.model.vo.Qna" alias="q"/>
		<typeAlias type="kr.co.mitgomukgo.qna.model.vo.QnaFile" alias="qf"/>
		<typeAlias type="kr.co.mitgomukgo.market.model.vo.BookMark" alias="bm"/>
		<typeAlias type="kr.co.mitgomukgo.store.model.vo.StoreBookmark" alias="sbm"/>
	</typeAliases>
</configuration>
